<div class="row justify-content-start mt-5">
  <hr/>
  <h1 class="text-start mb-4 mt-2 pizza-card_font-categorie">Les Prestiges</h1>
  <ng-container *ngFor="let pizza of pizzas">
    <div class="col-3" *ngIf='pizza.categorie === "Prestige"'>
      <div class="card bg-light card-light mb-4">
        <img src="{{api + pizza.photo}}" class="card-img-top" alt="{{pizza.nom}}">
        <div class="card-body">
          <h5 class="card-title pizza-card_font">{{pizza.nom}}</h5>
          <div class="text-end">
            <a class="btn btn-danger btn-sm pizza-card_font-btn" [routerLink]="['pizza/' + pizza._id]">
              Voir plus ...
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <hr/>
  <h1 class="text-start mb-4 mt-2 pizza-card_font-categorie">Les Original</h1>
  <ng-container *ngFor="let pizza of pizzas">
    <div class="col-3" *ngIf='pizza.categorie === "Original"'>
      <div class="card bg-light card-light mb-4">
        <img src="{{api + pizza.photo}}" class="card-img-top" alt="{{pizza.nom}}">
        <div class="card-body">
          <h5 class="card-title pizza-card_font">{{pizza.nom}}</h5>
          <div class="text-end">
            <a class="btn btn-danger btn-sm pizza-card_font-btn" [routerLink]="['pizza/' + pizza._id]">
              Voir plus ...
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <hr/>
  <h1 class="text-start mb-4 mt-2 pizza-card_font-categorie">Les Classique</h1>
  <ng-container *ngFor="let pizza of pizzas">
    <div class="col-3" *ngIf='pizza.categorie === "Classique"'>
      <div class="card bg-light card-light mb-4">
        <img src="{{api + pizza.photo}}" class="card-img-top" alt="{{pizza.nom}}">
        <div class="card-body">
          <h5 class="card-title pizza-card_font">{{pizza.nom}}</h5>
          <div class="text-end">
            <button class="btn btn-danger btn-sm pizza-card_font-btn" [routerLink]="['pizza/' + pizza._id]">
              Voir plus ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <hr/>
  <h1 class="text-start mb-4 mt-2 pizza-card_font-categorie">Les Vegan</h1>
  <ng-container *ngFor="let pizza of pizzas">
    <div class="col-3" *ngIf='pizza.categorie === "Vegan"'>
      <div class="card bg-light card-light mb-4">
        <img src="{{api + pizza.photo}}" class="card-img-top" alt="{{pizza.nom}}">
        <div class="card-body">
          <h5 class="card-title pizza-card_font">{{pizza.nom}}</h5>
          <div class="text-end">
            <button class="btn btn-danger btn-sm pizza-card_font-btn" [routerLink]="['pizza/' + pizza._id]">
              Voir plus ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

