.boisson-card_font {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.boisson-card_font-title {
  font-family: 'Bebas Neue', cursive;
}

.boisson-card_font-categorie {
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.boisson-card_font-btn {
  font-family: 'Roboto Condensed', sans-serif;}

.boisson-card_image {
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.36);
  box-shadow: 1px 1px 10px grey;
}
