.panier_container {
  border: 1px solid rgba(128, 128, 128, 0.36);
}
.panier_font {
  font-family: 'Big Shoulders Stencil Display', cursive;
}
.panier_items {
  border: 1px solid rgba(128, 128, 128, 0.35);
}
.panier_image {
  border: 2px solid rgba(128, 128, 128, 0.35);
}
.panier_delete_button {
  width: 20px;
}
