<div class="row m-2 mt-5  justify-content-end">
  <div class="col-10 p-2 panier_container rounded-3">
    <h4 class="panier_font p-2">Ma Commande</h4>
    <hr>
    <ng-container *ngIf="pizza">
      <h6>Pizza</h6>
      <div *ngFor="let item of pizza" class="row p-1 rounded-3 mb-1">
        <div class="col-4">
          <img src="{{url + item.photo}}" alt="{{item.nom}}" class="img-fluid panier_image"/>
        </div>
        <div class="col-5">
          {{item.nom}} <br/>
          {{item.size}}
        </div>
        <div class="col-3">
          <div class="row justify-content-center">
            {{item.price}} €
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-default" (click)="deletePizza(item.nom, item.price)"><img src="../assets/clear.png" alt="Enlever cette élément" class="panier_delete_button"></button>
          </div>
        </div>
      </div>
      <hr>
    </ng-container>

    <ng-container *ngIf="boisson">
      <h6>Boisson</h6>
      <div *ngFor="let item of boisson" class="row p-1 rounded-3 mb-1">
        <div class="col-4">
          <img src="{{url + item.photo}}" alt="{{item.nom}}" class="img-fluid panier_image"/>
        </div>
        <div class="col-5">
          {{item.nom}} <br/>
          {{item.quantity}}
        </div>
        <div class="col-3">
          <div class="row justify-content-center">
            {{item.price}} €
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-default" (click)="deleteBoisson(item.nom, item.price)"><img src="../assets/clear.png" alt="Enlever cette élément" class="panier_delete_button"></button>
          </div>
        </div>
      </div>
      <hr>
    </ng-container>
    <h4 class="text-end mt-4">Total : {{total}} €</h4>
    <div class="row justify-content-center mt-4 mb-2">
      <div class="col-10 text-center">
        <button class="btn btn-danger btn-lg panier_commander-btn">COMMANDER</button>
      </div>
    </div>
  </div>
</div>
