<div class="row justify-content-center mt-1 mb-4" *ngIf="oneDessert">
  <div class="row justify-content-start mb-2 mt-2">
    <div class="col-3 p-0 mb-3">
      <a class="pizza-card_font-btn btn btn-danger pe-5 ps-5" [routerLink]="['/dessert']">RETOUR</a>
    </div>
  </div>
  <h1 class="pizza-card_font-title text-start">{{oneDessert.nom}}</h1>
  <hr/>
  <div class="col-8">
    <div class="row justify-content-center">
      <img src="{{url + oneDessert.photo}}" alt="{{oneDessert.nom}}" class="img-fluid pizza-card_image"/>
    </div>
  </div>
  <div class="col-4">
    <div class="mb-5">
      <h3 class="pizza-card_font-title">Recette</h3>
      <p>{{ oneDessert.recette }}</p>
    </div>
    <hr/>
    <div class="mb-3 p-3 bg-light">
      <h3 class="pizza-card_font-title rounded-3">Prix</h3>
      <div class="row justify-content-end">
        <div class="col-4">
          {{oneDessert.prices}} €
        </div>
      </div>
    </div>
    <div class="mb-3 p-3 text-end">
      <button class="btn btn-danger btn-lg pizza-card_font-btn ps-5 pe-5" (click)="addToCart(oneDessert.nom, oneDessert.prices, oneDessert.photo)">AJOUTER</button>
    </div>
  </div>
</div>
<hr>
